<div class="row mt-5">

    <div class="col s4" *ngFor ="let event of specialevents">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">
                    {{event.nombre}}
                </h5>
                <p class="card-text">{{ event.apellido }}</p>
                <a href="#" class="btn btn-success">By Tickets</a>
            </div>
            <div class="card-footer text-muted">
                {{ event.edad }}
            </div>
        </div>
    </div>

</div>
